* {
    margin: 0;
    padding: 0;
}
body {
    color:black;
    background-color:gainsboro;
/*     background-image:url("../images/fond1.png"); */
    background-size: contain;
    }   
}

h2 {
    margin-bottom: 20px;
}
h3{
    margin-top: 20px;
}
/********* Header *********/
header {
     width: 100%;
     height: 130px;
     background-color: #1f618d   ;
     margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;;
    
}
.prenom {
    padding-top: 40px;
    padding-left: 80px;
    float:left;
}
.prenom h2{
    width: 50%;
}

.contact {
    float: right;
    width: 20%;
    padding-top: 40px;
    
}
.contact img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/********** Navbar **********/
.navbar{

}
.contact {
    float: right;
    width: 20%;
    
}
.contact img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.navbar ul{
    list-style-type: none;
    width: 100%;
    padding-top: 0px;
    height: 40px;
    overflow: hidden;
    background-color:   #85c1e9  ;
}
li {
    float: right;
    padding-right: 60px;
    margin-top: 0px;
    text-align: center;
}
li a {
    top: 10px;
    display: block;
    color: black;

}
/********* Presentation ********/

.presentation {
    width: 90%;
    padding: 50px 30px;  
    margin: 10px 60px;
    border: 2px solid darkslategray;
    background-color: #f4ecf7;
    display: inline-block;
}
.texte_presentation{
    margin-left: 400px;

    

}
.photo_presentation img{
    padding: 20px;
    border-radius: 40%;
    width: 270px;
    height: 270px;
    float: left;
}

/********** Compétences **********/
.competences {
    width: 80%;
    padding: 30px;  
    margin: 30px 150px;
    text-align: justify;
    border: 2px solid darkslategray;
    background-color: #f4ecf7  ;
}
.mes_competences {

    float: center;
}
.mes_competences img {

    width: 120px;
    height: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
/********* Langues *********/

.langues_images_competences{
    width: 100%;
    padding-left: 20px;
}
.langues_images_competences img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.titres_langues {
    
}
/******** Diplômes *********/
.diplomes {
    width: 80%;
    padding: 30px;  
    margin: 30px 150px;
    text-align: justify;
    border: 2px solid darkslategray;
    background-color:  #f4ecf7 ;
}

/******** Expériences ********/
.experiences{
    width: 80%;
    padding: 30px;  
    margin: 30px 150px;
    text-align: justify;
    border: 2px solid darkslategray;
    background-color: #f4ecf7  ;  
}
/********* Centres d'interêts *********/
.centre_interet {
    width: 80%;
    padding: 30px;  
    margin: 30px 150px;
    text-align: justify;
    border: 2px solid darkslategray;
    background-color:  #f4ecf7 ;
}

/********** Footer ***********/

footer{
    width: 100%;
    height: 200px;
    background-color:  #1c2833 ;
}

@media screen and (max-width: 767px){}

@media screen and (min-width: 768px) and (max-width: 992px){}

@media screen and (min-width: 992px) and (max-width: 1200px){}

@media screen and (min-width: 1200px){}